/*@media (max-width: 1000px) {
    header {
        height: 250px;
        padding: 24px;
    }
    body{
        width: 100%;
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    label {
        margin-top: 24px;
    }
    button {
        margin-top: 28px;
    }
}

@media (max-width: 400px) {
    .card { 
        width: 220px;
        height: px;  
        margin: 8px;
        padding: 0 8px 0 8px;
        border-radius: 8px ;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none; 
        color: var(--red);
    }
    img {
        width: 200px;
        height: 200px;
        margin: 24px;
        border-radius: 100%;
    }

}*/

:root {
    --main-color: #FFAC46;
    --orange: #C96C34;
    --red: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://raw.githubusercontent.com/Natyushk/DEV014-dataverse-chat/main/src/assets/gris.jpeg");
    background-size: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif; 
    color: white;
    min-height: 100vh;
    position: relative;
}
header{
    height: auto;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/Natyushk/DEV014-dataverse-chat/main/src/assets/tomate%20header.jpg");
    color: var(--red);
}
h1{
    align-self: center;
    font-size: 50px;
}
main {
    text-align: center;
}
section {
    width: 100%;
    font-size: 28px;
}
#search-section {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-input {
    margin: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: smaller; 
}
button{
    width: 150px;
    border-radius: 8px;
    margin-left: 24px;
    font-size: 28px;
    box-shadow: 5px 5px;
}
div{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div p {
    font-size: 28px;
}
label {
    margin-left: 24px;
}
select {
    border-radius: 8px;
    font-size: 28px;
    margin-left: 24px;
    outline: none;
}
select:focus{
    border:4px solid var(--main-color);
}
select:hover{
    box-shadow: 3px 3px var(--main-color);   
}
button:hover {
    background-color: var(--main-color);
}
ul{
    padding: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuir el espacio entre las tarjetas */
    max-width: 1600px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la pantalla */
}
.card { 
    width: calc(25% - 24px); /* Calcula el 25% del ancho del contenedor y resta el margen */ 
    margin: 12px;
    padding: 0 12px 0 12px;
    border-radius: 8px ;
    background-image: url("https://raw.githubusercontent.com/Natyushk/DEV014-dataverse-chat/main/src/assets/tomate%20cards.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none; 
    flex-grow: 1;
    color: var(--red);
    font-size: 1em;
}
.card .name {
    font-size: 1.2em;
}
.card .continent {
    font-size: 1em;
}
.card .fortune {
    font-size: 0.9em;
}
.card .short-description {
    font-size: 0.8em;
}
@media screen and (max-width: 1600px) {
    .card {
        width: calc(33.33% - 24px); /* Cambia el ancho de la tarjeta para tres tarjetas por fila */
    }
}

@media screen and (max-width: 1200px) {
    .card {
        width: calc(50% - 24px); /* Cambia el ancho de la tarjeta para dos tarjetas por fila */
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: calc(100% - 24px); /* Cambia el ancho de la tarjeta para una tarjeta por fila */
    }
}

li p:nth-child(2){
    font-size: 32px;
}
li p:nth-child(4), p:nth-child(5) {
    margin-top: 12px;
}
img {
    width: 250px;
    height: 250px;
    margin: 24px;
    border-radius: 100%;
}
footer{
    width: 100%;
    height: 50px;
    background-color: var(--red);
    position: fixed; /* Cambiar a posición fija */
    bottom: 0;
    left: 0; /* Alinear el footer a la izquierda */
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/Natyushk/DEV014-dataverse-chat/main/src/assets/vino%20footer.jpg);
}
footer p {
    padding: 10px;
}